
colors = {
    white: #E0E0E0,
    gray: #999999,
    background: #060606,
    border: #2B2B2B, 
    brand: #070826,
    error: #db4848,
    green: #21b021
}

breakpoints = {
    small: 320px,
    medium: 768px,
    large: 1024px,
}

max-width = 1024px
anim-delay = 0.2s