.gifts

    &__list
        display flex
        gap 10px
        max-width 600px
        flex-wrap wrap
        margin 0 auto
        justify-content center
        margin-top 40px

    .gift
        block()
        delay(3)
        flex 0 1 0
        min-width 250px

        &__name
            font-size 20px
            font-weight 500
            margin-bottom 10px

        &__description
            color colors.gray