.requirements
    &__list
        display flex
        gap 20px
        align-items start
        margin-top 40px
        flex-wrap wrap

    .requirement
        block()
        delay(4)
        flex 1 1 0
        min-width 200px

        &__count
            font-size 32px
            font-weight 600
        
        &__name
            color colors.gray
            margin-top 10px