.contacts
    display flex
    justify-content space-between
    gap 20px
    flex-wrap wrap
    
    &__media
        margin-top 15px
        display flex
        gap 15px

        a
            color colors.gray;
            transition color 0.2s ease

            &:hover
                color colors.white



    
