.plans 
    &__list
        display flex
        margin-top 40px
        max-width 100%
        gap 20px
        padding-bottom 20px
        flex-wrap wrap

        .plan
            flex 1 1 0

    &__text
        display flex
        justify-content space-between
        align-items end
    
    &__more
        color colors.gray
        transition color 0.2s ease

        &:hover
            color colors.white

