@keyframes animation 
    0%
        transform translateX(20px)
        opacity 0
    100%
        transform translateX(0)
        opacity 1

[data-anim]
    opacity 0
    transform translateX(20px)


.animation
    animation: animation 1s forwards