@import "../abstracts/variables"

.not-found
    margin 0 auto
    text-align center

    &__title
        font-size 120px
        font-weight 600

    &__description
        color colors.gray
        margin-bottom 40px

    .button
        &::before
            content '← '
    
