
@import "../abstracts/variables"
@import "../abstracts/mixins"
@import "../components/input"
@import "../components/plan"
@import "../blocks/home/hero"
@import "../blocks/home/features"
@import "../blocks/home/services"
@import "../blocks/home/plans"
@import "../blocks/home/faq"
@import "../blocks/home/contacts"
@import "../blocks/home/blocks"
@import "../blocks/home/comments"


.cta
    &__button
        margin-top 20px

        &::after
            content ' →'