@import "../abstracts/variables"
@import "../abstracts/mixins"
@import "../components/input"
@import "../blocks/partners/request"
@import "../blocks/partners/requirements"
@import "../blocks/partners/gifts"

.arrow
    margin 0 auto

.google-form
    border-radius 5px