@import "../abstracts/variables"

.rules

    &__updatedAt 
        color colors.gray

    h3
        font-size 20px
        font-weight 500
    
    section
        margin-top 48px


    li
        color colors.gray
        margin-top 8px
        line-height 1.8